
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 15px 0;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(15, 15, 15);
    text-decoration: none;
  }
  
  
  nav ul li a.active {
    font-weight: bold;
  }
  
  main.about-section {
    padding: 20px;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  